version: "3"

# Configure default network as the external one
networks:
  default:
    external:
      name: ${NETWORK_NAME}

# Define a persistent volume for portainer
volumes:
  portainer_data:
  syncthing:
  syncthing_data:
    external:
      name: ${SYNCTHING_VOLUME_NAME}

# Declare services
services:
  
  # Traefik: Powerful reverse proxy
  traefik:
    image: traefik:latest
    container_name: traefik
    volumes:
      - ./traefik/traefik.toml:/etc/traefik/traefik.toml
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      traefik.port: "8080"
      traefik.enable: "true"
      traefik.frontend.rule: "Host:${SERVICES_DOMAIN:-localhost}"
    ports:
      - "80:80"
    restart: ${RESTART_MODE:-always}

  # Portainer: Container manager
  portainer:
    image: portainer/portainer
    container_name: portainer
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    labels:
      traefik.frontend.rule: "PathPrefixStrip:/portainer;Host:${SERVICES_DOMAIN:-localhost}"
      traefik.port: "9000"
      traefik.enable: "true"
    command: -H unix:///var/run/docker.sock
    restart: ${RESTART_MODE:-always}

  # Syncthing: Synchronize folder
  syncthing:
    image: syncthing/syncthing
    container_name: syncthing
    volumes:
      - syncthing:/var/syncthing
      - syncthing_data:/var/syncthing_data
    labels:
      traefik.frontend.rule: "Host:syncthing.${SERVICES_DOMAIN:-local}"
      traefik.port: "8384"
      traefik.enable: "true"
    ports:
      - "22000:22000/tcp"
      - "21027:21027/udp"
    restart: ${RESTART_MODE:-always}
