version: "3"

# Configure default network as the external one
networks:
  default:
    external:
      name: ${NETWORK_NAME}

# Define a persistent volume for portainer
volumes:
  portainer_data:
  syncthing_config:
  syncthing_data:
    external:
      name: ${SYNCTHING_VOLUME_NAME}

# Declare services
services:

  # Traefik: Powerful reverse proxy
  traefik:
    image: traefik:latest
    container_name: traefik
    volumes:
      - ./conf.d/traefik/traefik.toml:/etc/traefik/traefik.toml:ro
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      traefik.port: "8080"
      traefik.enable: "true"
      traefik.frontend.rule: "Host:${SERVICES_DOMAIN:-localhost}"
      #### Uncomment this 2 lines to unable https
      # traefik.frontend.redirect.entryPoint: "https"
      # traefik.frontend.entryPoints: "http,https"
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped

  # Portainer: Container manager
  portainer:
    image: portainer/portainer
    container_name: portainer
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    labels:
      traefik.frontend.rule: "PathPrefixStrip:/portainer;Host:${SERVICES_DOMAIN:-localhost}"
      traefik.port: "9000"
      traefik.enable: "true"
      #### Uncomment this 2 lines to unable https
      # traefik.frontend.redirect.entryPoint: "https"
      # traefik.frontend.entryPoints: "http,https"
    command: -H unix:///var/run/docker.sock
    restart: unless-stopped

  # Syncthing: Synchronize folder
  syncthing:
    image: syncthing/syncthing
    container_name: syncthing
    volumes:
      - ./conf.d/syncthing/:/etc/syncthing/:ro
      - syncthing_data:/var/syncthing/Sync
    labels:
      traefik.frontend.rule: "PathPrefixStrip:/syncthing;Host:${SERVICES_DOMAIN:-localhost}"
      traefik.port: "8384"
      traefik.enable: "true"
      #### Uncomment this 2 lines to unable https
      # traefik.frontend.redirect.entryPoint: "https"
      # traefik.frontend.entryPoints: "http,https"
    entrypoint: "/etc/syncthing/entrypoint.sh"
    ports:
      - "22000:22000/tcp"
      - "21027:21027/udp"
    restart: unless-stopped
